**/node_modules/
node_modules
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws
.gitignore
.dockerignore
Dockerfile
Dockerfile.test
chart
README.md
tags.json
target
skaffold.yaml
docker-compose.yaml
devspace.yaml
*.tgz